/* General */

:root {
    color: white;
}

body {
    background-color: #212034;
    font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

/* Navigation bar */

.topbar {
    background-color: #131227;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    justify-content: space-between;
  }
  
  #navigation {
    float: right;
    width: 232px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    padding-right: 20px;
  }
  
  nav li {
    display: inline;
    margin-left: 30px;
  }

  li:hover i {
    color: #50f9ab;
  }
  
  nav a {
    text-decoration: none;
    color: #aaa6e5;
    font-weight: bold;
  }
  
  #logo {
    float: left;
    padding-right: 60px;
    padding-left: 12px;
  }
  
  #logoimg {
    width: 160px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  #searchBar {
    display: flex;
    justify-content: center; 
  }
  
  input[type='search'] {
    width: 640px;
    height: 40px;
    padding: 10px;
    border: 1px solid #68669d;
    border-radius: 5px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #68669d;
    background-color: #393751;
  }
  
  input[type='search']:focus {
    outline: none;
    border-color: #68669d;
    box-shadow: 0 0 5px #ffffff;
  }

/* Main content */

#container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Side menu */

#side-menu {
    width: 170px;
    height: 900px;
    margin-top: 90px;
    margin-right: 55px;
    padding-right: 25px;
    border-right: 1px solid #68669D;

    flex-direction: row;
    align-items: center;
}

#side-menu h4 {
    margin-top: 15px;
    margin-bottom: 22px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

#side-menu li {
    margin: 12px 5px 8px 5px;
    font-size: 14px;
    font-weight: 200;
}

#active-page {
    background-color: #393851;
    border-radius: 3px;
    padding: 2px;
}

/* Middle content */

#your-post-title {
    margin-bottom: 14px;
}

#middle-content {
    margin-top: 100px;
    margin-right: 144px;
    width: 600px;
    height: 900px;
    
    display: flex; 
    flex-direction: column;
}

/* Stats */

#stats {
    background-color: #212034;
    width: 600px;
    border-bottom: 1px solid #68669D;
    padding-bottom: 16px;

    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.stat-box {
    background-color: #393851;
    border: 1px solid #565481;
    color: #FAFAFC;
    text-align: center;
    padding: 8px;
    border-radius: 5px;

    flex-direction: row;
}

#stats p:first-child {
    font-size: 10px;
}

#stats p:nth-child(2) {
    font-size: 30px;
}

/* Filter */

#filter {
    background-color: #212034;
    padding: 16px 0px;
    width: 600px;
    font-size: 12px;
}

#filter label {
    font-weight: bold;
    margin-right: 3px;
}

#filter select {
    background-color: #393851;
    color: #FAFAFC; 
    border: 1px solid #565481;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    appearance: none; 
    cursor: pointer;
    margin-right: 30px;
}

#filter select option {
    background-color: #393851;
    color: #FAFAFC;
}

#filter select:hover {
    background-color: #50F9AB;
    color: #393851;
}

/* Posts */

#posts {
    height: 780px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

.post {
    width: 600px;
    border-radius: 8px;
    background-color: #393851;
    border: 1px solid #565481;

    flex-direction: row;
    align-items: flex-start;
}

.avatar-area {
    flex-direction: row;
    display: flex;

}

.avatar-area img {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin: 13px 10px 10px 10px;
}

.text-ava {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text-ava h4 {
    flex: 1;
    margin-top: 14px;
    font-size: 14px;
}

.text-ava h5 {
    flex: 1;
    font-size: 10px;
    font-weight: lighter;
    color: #aaa6e5;
    margin-bottom: 8px;
}

.post p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 1.6;
}

.post-activity-buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    margin-top: 14px;
    background-color: #2E2C43;
    border-radius: 0 0 10px 10px;
}

.activity-button-text {
    padding-right: 24px;
}

.iconLink {
    color: #aaa6e5;
  }
